header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  background-color: var(--secondary-bg-light);
  border-bottom: 3px solid var(--primary-bg-dark);
}

.logo {
  font-size: 2em;
  color: var(--primary-bg-dark);
}

.menu {
  display: none;
}

.expand-btn {
  padding: 15px;
  font-size: 1.3em;
  color: var(--primary-bg-dark);
}

.menu-wrapper {
  position: fixed;
  margin-top: 73px;
  background-color: var(--secondary-bg-light);
  min-width: 55%;
  right: 20px;
  border-radius: 0 0 5px 5px;
  border-left: 3px solid var(--primary-bg-dark);
  border-bottom: 3px solid var(--primary-bg-dark);
  border-right: 3px solid var(--primary-bg-dark);
}

.expanded-menu {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

a {
  color: var(--primary-bg-dark);
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  padding: 10px;
  box-shadow: inset 0 500px 0 0 var(--secondary-bg-light);
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  transition: all ease 200ms;
}

a:hover {
  box-shadow: inset 0 0 0 500px var(--primary-bg-medium);
  color: var(--secondary-bg-light);
}

.menu-wrapper a:not(:last-child) {
  border-bottom: 1px solid var(--primary-bg-dark)
}

.expand-btn {
  font-weight: bold;
}

.expand-btn:hover {
  color: var(--primary-bg-medium);
  text-decoration: underline;
}


/* Medium Sized screens (from 450px to 900px) */
@media only screen and (min-width: 450px) {}


/* Large Sized screens (from 900px upwards) */
@media only screen and (min-width: 900px) {

  .expand-btn,
  .menu-wrapper {
    display: none;
  }

  .menu {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
}