/* Small Sized screens (until 450px) */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-recipe-button-container {
  display: flex;
  justify-content: center;
}

.random-recipe-button {
  border: 1px solid black;
  padding: 4px;
}

.recipe .title {
  text-align: center;
}

/* recipeInfo */
.recipe-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipe-info-selectors {
  background-color: var(--secondary-bg-dark);
  display: flex;
}

.recipe-info-selectors button {
  width: 100%;
}

.recipe-info-content {
  align-self: center;
  padding: var(--size-3);
}

/* Recipe Instructions */

.instructions-step {
  margin-bottom: var(--size-3);
  padding: var(--size-2)
}

/* Recipe Ingredients */
.ingredient-headings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ingredients-unit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--size-2);
}

.ingredients-unit>* {
  padding: 5px;
}

/* Medium Sized screens (from 450px to 900px) */
@media only screen and (min-width: 450px) {}


/* Large Sized screens (from 450px to 900px) */
@media only screen and (min-width: 900px) {
  .recipe {
    width: 60vw;
    align-self: center;
  }
}